# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Misc
*.tmp